name: npm package

on:
  push:
    branches:
      - master
  pull_request:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis
        ports:
        - 6379/tcp
        options: --entrypoint redis-server
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci
      - run: npm run test
        env:
          REDIS_PORT: ${{ job.services.redis.ports[6379] }}
      # CodeClimate integration - temporarily disabled
      # - uses: paambaati/codeclimate-action@v2.3.0
      #   env:
      #     CC_TEST_REPORTER_ID: ${{secrets.cc_reporter_id}}
      #     REDIS_PORT: ${{ job.services.redis.ports[6379] }}
      #   with:
      #     coverageCommand: npm run coverage
  publish-gpr:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://npm.pkg.github.com/
          scope: '@RaviPatel'
      - run: npm ci
      - run: |
          echo "@username:registry=https://npm.pkg.github.com" >> .npmrc
          echo "//npm.pkg.github.com/:_authToken=${{ secrets.GPR_PERSONAL_TOKEN }}" >> .npmrc
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.GPR_PERSONAL_TOKEN}}
